@model AtomicFitness.Models.Vjezba

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Vjezba</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="VjezbaID" />
            <div class="form-group">
                <label asp-for="FitnesProgramID" class="control-label"></label>
                <input asp-for="FitnesProgramID" class="form-control" />
                <span asp-validation-for="FitnesProgramID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oprema" class="control-label"></label>
                <select asp-for="Oprema" class="form-control"></select>
                <span asp-validation-for="Oprema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <select asp-for="Level" class="form-control"></select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Misici" class="control-label"></label>
                <select asp-for="Misici" class="form-control"></select>
                <span asp-validation-for="Misici" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojPonavljanja" class="control-label"></label>
                <input asp-for="BrojPonavljanja" class="form-control" />
                <span asp-validation-for="BrojPonavljanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojSerija" class="control-label"></label>
                <input asp-for="BrojSerija" class="form-control" />
                <span asp-validation-for="BrojSerija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
