/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Nav-bar animations */
a {
  color: #0366d6;
}

.glow {
    color: #0366d6;
}
.glow:hover {
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;

}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}



@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}




@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #228dff, 0 0 70px #228dff, 0 0 80px #228dff, 0 0 100px #228dff, 0 0 150px #228dff;
    }

    to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #228dff, 0 0 35px #228dff, 0 0 40px #228dff, 0 0 50px #228dff, 0 0 75px #228dff;
    }
}

    

ul li:hover {
    color: #000;
}

ul li:before,
ul li:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #00ccff;
    z-index: -1;
    transition: transform 0.5s;
    transform: scaleY(0);
    transform-origin: bottom;
}

ul li:after {
    z-index: -2;
    filter: blur(20px);
}

ul li:hover:before,
ul li:hover:after {
    transform: scaleY(1);
    transform-origin: top;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.table-hover > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px;
    border-color: rgba(111,66,193,255);
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 0px 2px 2px rgba(111,66,193,255);
}

.table-dark {
    border: 1px;
    border-color: rgba(111,66,193,255);
    border-radius: 0px 0px 2px 2px;
    box-shadow: 0px 0px 2px 2px rgba(111,66,193,255);
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.wholebody {
    padding:2rem;
}

/*Cards Exercise & Recipe*/
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px 4px rgba(111,66,193,255);
    background: rgb(0,212,255);
    background: linear-gradient(0deg, rgba(111,66,193,0.9251050762101716) 0%, rgba(0,212,255,0) 35%);
}
.imgparent {
    position: relative;
    
}

.card {
    border-radius: 10px;
    width: 17rem;
}

.cont {
    padding: 2rem;
    margin:2rem;
}

.welcomeimg {
    background-image: url("https://i.ibb.co/YfYrtdf/AFhome.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}



/* Cards Music*/

.cont-music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8rem;
}
.card-music {
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin: 20px;
    overflow: hidden;
    width: 700px;
    height: 100px;
}

.card-img-top {
    border-radius: 9px 9px 0 0;
    max-width: 280px;
    max-height: 170px;
}

.imgparent-music {
    width: 180px;
    height: 300px;
    position: relative;
}

.card-body-music {
    padding: 5px;
    position: absolute;
    left: 30%;
}

.song-info {
    font-size: 10px;
}
.buttons-music a {
    font-size: 14px;
    padding-bottom: 15px;
    padding-top: 1px;
}

.music-desc {
    color: wheat;
}

.buttons-music {
    position: absolute;
    top: 7%;
    left: 400px;
    display: flex;
    flex-direction: column;
    grid-gap: 4px;
}

.musicdel {
    border-radius: 150px;
    height: 25px;
}

.musicdet {
    border-radius: 150px;
    height: 25px;
}

.musicedit {
    border-radius: 150px;
    height: 25px;
}




/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
  
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
    
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
