@model AtomicFitness.Models.FitnesProgram

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FitnesProgram</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="FitnesProgramID" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </form>
</div>
