@model IEnumerable<AtomicFitness.Models.FitnesProgram>

@{
    ViewData["Title"] = "Fitness Program";
}

<h1>Fitness Program</h1>

<form asp-action="Create">
    <div class="form-group">
        <p>
            <input type="submit" value="Generate" class="btn btn-secondary" />
        </p>
    </div>
</form>
@{ 
    int brojac = 1;
}
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3 hover-container" style="width: 24.5%; display: inline-block">
            <div class="card-header">Fitness Program: &#8470;@(brojac++)</div>
            <div class="card-body">
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.FitnesProgramID" >Details</a>
                <a class="btn btn-outline-danger" style="float: right" asp-action="Delete" asp-route-id="@item.FitnesProgramID">Delete</a>
            </div>
        </div>
    }

