@model AtomicFitness.Models.Pjesma

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pjesma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naziv" class="form-label mt-4"></label>
                <div class="form-floating">
                    <input asp-for="Naziv" class="form-control" id="floatingInput" placeholder=" " />
                    <label for="floatingInput">What is the title of your song?</label>
                </div>
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pjevaci" class="form-label mt-4"></label>
                <div class="form-floating">
                    <input asp-for="Pjevaci" class="form-control" id="floatingInput" placeholder=" " />
                    <label for="floatingInput">Who are the artists singing this song?</label>
                </div>
                <span asp-validation-for="Pjevaci" class="text-danger"></span>
                <small class="form-text text-muted">For more than one singer use comma as a delimiter</small>
            </div>
            <div class="form-group">
                <label asp-for="Zanr" class="form-label mt-4"></label>
                <div class="form-floating">
                    <input asp-for="Zanr" class="form-control" id="floatingInput" placeholder=" " />
                    <label for="floatingInput">What genre is this song?</label>
                </div>
                <span asp-validation-for="Zanr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GodinaIzdanja" class="form-label mt-4"></label>
                <input type="date" asp-for="GodinaIzdanja" class="form-control"/>
                <span asp-validation-for="GodinaIzdanja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="form-label mt-4"></label>
                <div class="form-floating">
                    <input asp-for="Link" class="form-control" id="floatingInput" placeholder=" " />
                    <label for="floatingInput">Provide a YouTube link.</label>
                </div>
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-label mt-4">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

