@using static AtomicFitness.Models.Enums;
@model AtomicFitness.Models.FitnesProfil

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FitnesProfil</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Spol" class="form-label mt-4"></label>
                <select asp-for="Spol" class="form-control" asp-items="Html.GetEnumSelectList<Spol>()"></select>
                <span asp-validation-for="Spol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Level" class="form-label mt-4"></label>
                <select asp-for="Level" class="form-control" asp-items="Html.GetEnumSelectList<Level>()"></select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Starost" class="form-label mt-4"></label>
                <input asp-for="Starost" class="form-control" />
                <span asp-validation-for="Starost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kilaza" class="form-label mt-4"></label>
                <input asp-for="Kilaza" class="form-control" />
                <span asp-validation-for="Kilaza" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Visina" class="form-label mt-4"></label>
                <input asp-for="Visina" class="form-control" />
                <span asp-validation-for="Visina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oprema" class="form-label mt-4"></label>
                <select asp-for="Oprema" class="form-control" asp-items="Html.GetEnumSelectList<Oprema>()"></select>
                <span asp-validation-for="Oprema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ciljevi" class="form-label mt-4"></label>
                <select asp-for="Ciljevi" class="form-control" asp-items="Html.GetEnumSelectList<Ciljevi>()"></select>
                <span asp-validation-for="Ciljevi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Misici" class="form-label mt-4"></label>
                <select asp-for="Misici" class="form-control" asp-items="Html.GetEnumSelectList<Misici>()"></select>
                <span asp-validation-for="Misici" class="text-danger"></span>
            </div>
            <div class="form-label mt-4">
                <input type="submit" value="Create" class="btn btn-secondary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="card-link">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
